* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(221, 255, 221);
}

.header {
  display: flex;
  height: auto;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  height: 100px;
}

.main-flex {
  display: flex;
  justify-content: space-around;

  /* border: 1px solid red; */
}

.container-flex {
  display: flex;

  /* border: 1px solid red; */
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 15px;
}

#who-iam {
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

#who-iam input , select {
  padding: 7px;
  width: 45%;
  border: 1px solid rgb(221, 221, 221);
}

#house-label {
  align-self: center;
  color: rgb(44, 44, 44);
}

select {
  color: rgb(44, 44, 44);
  width: 41.5%;
  background-color: white;
}

#trybewarts-forms-logo {
  height: 500px;
}
