.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  height: 100px;
}

.trybewarts-login {
  display: flex;
  
  border: 2px solid red;
}

#trybewarts-header-title {
  color: white;
}